API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=8189586809:AAHj9jY_pCktWmo5SU3ouUuwtwy127Fu4Uw
MUSIC_BOT_NAME=yukki
LOGGER_ID=-1001761290097
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7543674320
STRING_SESSION=BAGxG5MAm27NtM8A7Q0hl5DuZvgniB0Lw_edB697Hu6g2xD__nIj4fOQpGnuuaTZJ8XfjM9eorrxCA2ibtLK5NVx9zsXawWGtU9uxRYRvp-Nyfwnr1SYl1FufnpE7pJG1pB9MC2VQ2N02Vm7Aq4Z9u09hV4lN64_SPhafvmn1_4P_a6hVsMQSi_m_hLtiP9emHXQv-IYo9fxC4RIrvInq4bPvMFVZ_fwhGm4BWweyFexYgvDD5OGENHXsF-SWc_NRTgDPRGtoXHjWUZ6Nyt75iFzSqIqFEfGssQg4xGryNCDNbHj5Jm3jOOJ54SHsMXN3OYgRVUISm565R2VsZr4ys8e78WxqAAAAAGueJiaAA
